 <!DOCTYPE html>
<html>

<head>
  <title>WebAppProj</title>
  <link rel="stylesheet" href="../app.css" type="text/css">
</head>

<body>
  <div class="header">
    <div class="navhold">
      <div class="topnav"><a href="/">Home</a>
      <a href="/viewHomes">List of houses</a> 
      <a href="/houses">Buy a home</a> 
      <a href="/addhouse">Sell a home</a>
      <a href="/comments">Comments</a>
      <a href="/upload">Upload an image</a>
      </div>
    </div>
  </div>