  <% include ../partials/header %>

<div class="row2">
  <h1>Welcome to the edit homes page  <br></h1>
  
  <div class="grid-container">
   
    <div id =  houseLoop><% house.forEach(function(houses) { %>     
            
                <form method="post">
                <br>
                <%= houses.id %><br><br>
                
                <label for="Type">Type</label>
                <input name="Type" type="text" placeholder="What type of house is it.", required, pattern="[a-z0-9]+[a-z0-9]" />
                  
                <label for="Description">Description</label>
                <input name="Description" type="text" placeholder="Enter a comment", required, pattern="[a-z0-9]+[a-z0-9]" />
                
                <label for="Address">Address</label> 
                <input name="Address" type="text" placeholder="Enter the address.", required, pattern="[a-z0-9]+[a-z0-9]" />
                    
                <label for="Contact">Seller</label> 
                <input name="Contact" type="text" placeholder="Enter a name", required, pattern="[a-z]"/>
                    
                <label for="phoneNum">Contact number</label> 
                <input name="phoneNum" type="text" placeholder="Enter a number.", required, pattern="[a-z0-9]+[a-z0-9]" />
                    
                <label for="Email">Contact's Email</label> 
                <input name="email" type="text" placeholder="Submit your email", required, pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                   
                <button class="button">Edit</button>
                   
                   <% }); %> 
                    </div>
              </form>
      
         
         
    </div>
  </h1>
</div>






<% include ../partials/footer %>
