  <% include ../partials/header %>

<div class="row2">
  <h1>Upload image page!<br>
  <div class="grid-container">
        
            <form id="uploadForm" ref="uploadForm" method="post" enctype="multipart/form-data">    
                <div class="item">
                    
                    <label>Add Image:</label>
                    <input name="sampleFile" type="file", required />
                   
                    <button class="button">upload</button>
                    
                    </div>
              </form>
      
         
         
    </div>
  </h1>
</div>






<% include ../partials/footer %>